@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  color:#555b6e;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBF00;
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.profile-card {
  box-shadow: 0px 8px 40px -10px rgba(13, 28, 39, 0.6);
  background: #fafafa;
  border-radius: 12px;
  padding: 40px 20px;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 4;
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.profile-card__cnt {
  text-align: center;
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #32936F;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 400;
  color: #2b2d42;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}

.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}

.profile-card-inf__txt {
  font-weight: 400;
  margin-top: 7px;
}

.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card-social__item {
  display: flex;
  width: 55px;
  height: 55px;
  margin: 15px 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}

.profile-card-social__item.facebook {
  background: #0078d7;
}
.profile-card-social__item.twitter {
  background: #1da1f2;
}
.profile-card-social__item.instagram {
  background: #e1306c;
}

.profile-card-social__item.github {
  background: #333333;
}

.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
}

.profile-card__button.button--orange{
  background: #ee6352;
}
